* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    align-items: center;
}

h1 {
    text-align: center;
    margin-top: 12rem;
    font-weight: revert-layer;
}

.container {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.mainContainer {
    margin: 1rem auto;
    width: 31rem;
    background-color: grey;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 25px 12px;
}

form {
    align-items: center;
}

label {
    font-size: 24px;
    text-align: right;
    font-weight: bold;
    color: white;
}

input {
    height: 44px;
    width: 27rem;
    border-radius: 13px;
    border: none;
}

.btn {
    font-size: 20px;
    font-weight: 700;

}

.btn:hover {
    transition: 0.6s;
    background-color: green;
    color: white;
}

.input {
    font-size: 17px;
    padding-left: 15px;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.table {
    margin-top: 40px;
}

.edit {
    color: white;
    font-weight: 400;
    font-size: 16px;
    background-color: green;
    border: none;
    border-radius: 5px;
    padding: 4px 21px;
}

.edit:hover {
    transition: 0.5s;
    color: white;
    font-weight: 400;
    font-size: 16px;
    background-color: #842929;
    border: none;
    border-radius: 5px;
    padding: 4px 21px;
}

#syncInput:hover {
    background-color: #18407dfa;
    margin-top: 28px;
    font-size: 21px;
    font-weight: 700;
    color: white;
}
#syncInput {
    margin-top: 28px;
    font-size: 21px;
    font-weight: 700;
}

table tr td{
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    border: 1px solid white;
}
table tr th{
    text-align:center;
    border: 1px solid white;
}
table{
    border: 1px solid white;
}